body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    max-width: 600px; /* Adjust based on your preference */
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:  #b3b3b3;    ;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

p {
    margin: 0;
}

.not-verified {
    color: #d9534f;
}

.verified {
    color: #5cb85c;
}
