<% include('../layouts/header.ejs') %>

<link rel="stylesheet" href="/users/edit.css">

<form action="" method="post" >

    
    <br><br>
    <input type="text" name="name" value="<%= user.name %>" placeholder="Enter name" required>
    <br><br>
    <input type="email" name="email" value="<%= user.email %>" placeholder="Enter email" required>
    <br><br>
    <input type="text" name="mno" value="<%= user.mobile %>" placeholder="Enter mobile" required>

   
    <button type="submit">Update</button>

</form>

<% include('../layouts/footer.ejs') %>